.word {
  text-align: center;
}

.word:hover {
  background-color: rgb(255, 247, 102);
  transition: 0.4s;
}

.word__clicked {
  text-align: center;
  opacity: 80%;
}

.word__paired {
  text-align: center;
  color: rgb(6, 172, 1);
  opacity: 45%;
  transition: 0.3s;
}

.clicked {
  text-align: center;
  color: red;
  border-radius: 15px;
}

.row {
  display: flex;
}

.row ul {
  list-style-type: none;
}

.column {
  flex: 50%;
  padding: 0;
}
