.word {
  text-align: center;
}
.word :hover {
  font-weight: 900;
  color: rgb(6, 172, 1);
  transition: 0.5s;
}

.word-paired {
  text-align: center;
  font-weight: 900;
  color: rgb(6, 172, 1);
  opacity: 45%;
}

.text-clicked {
  text-align: center;
  font-weight: 900;
  color: rgb(34, 163, 255);
}

.row {
  display: flex;
}

.row ul {
  list-style-type: none;
}

.column {
  flex: 50%;
  padding: 0;
}
