.word {
  text-align: center;
}

.word:hover {
  background-color: rgb(151, 233, 255);
  transition: 0.4s;
}

.word__paired {
  text-align: center;
  color: rgb(6, 172, 1);
  background-color: white;
  opacity: 40%;
  transition: 0.3s;
}

.clicked {
  text-align: center;
  color: red;
  border-radius: 15px;
}

.row {
  display: flex;
}

.row ul {
  list-style-type: none;
  max-width: center;
}

.column {
  flex: 50%;
  padding: 0;
}
