body {
	background-color: rgb(118, 231, 127);
	font-family: 'Roboto', sans-serif;
}

.title-container {
}

.title {
	font-family: 'Rampart One', cursive;
	font-size: 5rem;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	text-align:center;
}

.game-description {
	display: flex;
	justify-content: center;
	text-align:center;
}